.basicWrapper {
  position: fixed;
  width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}