.page {
  height: 100vh;
  display: grid;
  place-items: center;

  .container {
    max-width: 576px;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 10px;

    .logo {
      text-align: center;
      margin-bottom: 1rem;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 578px;
      
      .control {
        margin-bottom: 1rem;
      }

      .group {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        .findLink {
          color: var(--color-primary);
          text-decoration: none;
        }

        .findLinkArrow {
          margin-left: 6px;
          vertical-align: -3px;
        }
      }

      .buttonGroup {
        margin: 2rem 0;
      }
    }
  }
}
