.product {
  form {
    label {
      display: block;
      font-weight: 500;
    }
    input[type="text"],
    input[type="number"],
    input[type="file"],
    input[type="email"],
    select,
    textarea,
    input[type="password"] {
      display: block;
      font-size: 1.25rem;
      font-weight: 300;
      padding: 0.5rem;
      margin: 1rem auto;
      width: 100%;
      border: 1px solid var(--border-gray);
      border-radius: 3px;
      outline: none;
    }

    .progress {
      background-color: #aaa;
      border: 1px solid transparent;
      border-radius: 10px;
      .progress-bar {
        background-color: var(--light-blue);
        border: 1px solid transparent;
        border-radius: 10px;
        color: var(--color-white);
        font-weight: 500;
        padding: 0 1rem;

        span {
          white-space: nowrap;
        }
      }
    }
  }
}
